@media screen and (max-width: 790px) {
  .nav_bar.Opened {
    max-height: 100%;
    transition: 0.5s ease-in-out;
  }
  .nav_bar {
    width: 100%;
    max-height: 70px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    .nav_logo {
      display: flex;
      padding-bottom: 30px;
      .nav_title {
        flex-grow: 3;
      }
      .nav_burger {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .nav_bar {
    .nav_logo {
      .nav_title {
        font-size: 20px;
      }
      .nav_burger {
        .burger_btn {
          i {
            font-size: 19px;
          }
        }
      }
    }
    .nav_box {
      .nav_routes {
        .route {
          i {
            font-size: 14px;
          }
          .route_name {
            font-size: 14px;
          }
        }
      }
    }
  }
}