$comf: 'Comfortaa', sans-serif;
$nuni: 'Nunito', sans-serif;

.wrapper {
  display: flex;
  flex-direction: row;
}

.wrapper_empty {
  width: 15%;
}

.wrapper_content {
  width: 85%;
  animation: appear 0.5s ease-in-out;
}

main {
  .info_section {
    padding: 40px 15px 0;
    .info_container {
      max-width: 1100px;
      margin: 0 auto;
      .info_box {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .customers_box {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          padding: 10px;
          .customers_title {
            font-size: 18px;
            font-family: $comf;
            .customers_count {
              font-size: 18px;
              font-family: 'Montserrat', sans-serif;
              color: #8f00ff;
              font-weight: 500;
            }
          }
          .customers_route {
            padding: 8px 12px;
            border: none;
            background: #8f00ff;
            color: #fff;
            font-family: $comf;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
          }
          i {
            padding: 0 0 0 6px;
            font-size: 13px;
          }
        }
        .create_box {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          padding: 10px;
          .create_title {
            font-size: 18px;
            font-family: $comf;
          }
          .create_announ_button {
            padding: 8px 12px;
            border: none;
            background: #8f00ff;
            color: #fff;
            font-family: $comf;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            i {
              padding: 0 6px 0 0;
              font-size: 13px;
            }
          }
        }
        .info_row {
          display: flex;
          flex-wrap: wrap;
          @keyframes appear {
            0% {opacity: 0}
            100% {opacity: 1}
          }
          .col {
            width: 33.333%;
            flex-basis: 33.333%;
            transition: 0.5s ease-in-out;
            min-height: 230px;
            animation: appear 0.5s ease-in-out;
            .box {
              position: relative;
              display: flex;
              flex-direction: column;
              height: 100%;
              border-radius: 5px;
              padding: 10px;
              gap: 10px;
              .box_route {
                gap: 10px;
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                .route_link {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                }
                .box_image {
                  display: block;
                  margin: 0 auto;
                  width: 100%;
                  height: 200px;
                  object-fit: cover;
                  object-position: center;
                  border-radius: 8px;
                }
                .box_title {
                  font-family: $nuni;
                  font-size: 19px;
                  font-weight: 700;
                  color: #000;
                }
                .box_descr {
                  font-family: $comf;
                  font-size: 13px;
                  color: gray;
                  flex-grow: 1;
                  line-height: 23px;
                }
              }
              .box_actions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .button_look {
                  font-family: $comf;
                  font-size: 13px;
                  padding: 8px 10px;
                  border: none;
                  background: #8f00ff;
                  color: #fff;
                  border-radius: 5px;
                  cursor: pointer;
                  text-decoration: none;
                  i {
                    padding: 0 5px;
                    color: #fff;
                  }
                }
                .box_edit {
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  .edit_btn {
                    border: none;
                    background: none;
                    font-size: 18px;
                    cursor: pointer;
                  }
                  .box_edit_inner.Opened {
                    display: flex;
                    animation: appear 0.5s ease-in-out;
                  }
                  .box_edit_inner {
                    position: absolute;
                    display: none;
                    flex-direction: row;
                    top: -220%;
                    right: 0;
                    width: auto;
                    height: auto;
                    background: #fff;
                    z-index: 999;
                    border-radius: 5px;
                    border: 1px solid gainsboro;
                    padding: 5px;
                    gap: 5px;
                    .editEl_btn {
                      padding: 10px;
                      border: none;
                      border-radius: 5px;
                      background: #fff;
                      color: orange;
                      font-family: 'Montserrat', sans-serif;
                      cursor: pointer;
                    }
                    .editEl_btn:hover {
                      filter: brightness(90%);
                    }
                    .deleteEl_btn {
                      padding: 10px;
                      border: none;
                      border-radius: 5px;
                      background: #fff;
                      color: red;
                      font-family: 'Montserrat', sans-serif;
                      cursor: pointer;
                    }
                    .deleteEl_btn:hover {
                      filter: brightness(90%);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .create_modal.Opened {
    display: flex;
  }
  .create_modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding: 20px;
    .create_modal_box {
      overflow: auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 700px;
      height: 100%;
      border-radius: 10px;
      min-height: 300px;
      background: #fff;
      gap: 30px;
      animation: appear 0.5s ease-in-out;
      .modal_actions {
        display: flex;
        align-items: flex-start;
        flex-grow: 1;
        .modal_title {
          font-size: 20px;
          font-family: $comf;
          flex-grow: 1;
        }
        .modal_close_btn {
          border: none;
          background: none;
          cursor: pointer;
          i {
            font-size: 20px;
          }
        }
      }
      .modal_inputs {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-grow: 9;
        .modal_head {
          font-size: 15px;
          font-family: $nuni;
        }
        .modal_head_inp {
          width: 100%;
          padding: 10px;
          border-radius: 4px;
          border: 1px solid gainsboro;
          font-family: 'Montserrat', sans-serif;
          outline: none;
        }
        .modal_descr {
          font-size: 15px;
          font-family: $nuni;
        }
        .modal_descr_textarea {
          outline: none;
          border: 1px solid gainsboro;
          border-radius: 4px;
          padding: 10px;
          font-family: 'Montserrat', sans-serif;
          resize: none;
          width: 100%;
          min-height: 250px;
        }
        .modal_author {
          font-size: 15px;
          font-family: $nuni;
        }
        .modal_author_inp {
          width: 100%;
          padding: 10px;
          border-radius: 4px;
          border: 1px solid gainsboro;
          font-family: 'Montserrat', sans-serif;
          outline: none;
        }
        .modal_phoneNum {
          font-size: 15px;
          font-family: $nuni;
        }
        .modal_phoneNum_inp {
          width: 100%;
          padding: 10px;
          border-radius: 4px;
          border: 1px solid gainsboro;
          font-family: 'Montserrat', sans-serif;
          outline: none;
        }
        .modal_type {
          font-size: 15px;
          font-family: $nuni;
        }
        .modal_type_inp {
          width: 100%;
          padding: 10px;
          border-radius: 4px;
          border: 1px solid gainsboro;
          font-family: 'Montserrat', sans-serif;
          outline: none;
        }
        .modal_img.Upload {
          display: block;
        }
        .modal_img {
          display: block;
          margin: 0 auto;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
        .modal_upload_image_box {
          padding: 10px 0;
          display: flex;
          flex-direction: column;
          .modal_upload_image_inner {
            display: flex;
            gap: 5px;
            align-items: center;
            .modal_img_inp {
              outline: none;
              padding: 10px;
              border-radius: 5px;
              border: 1px solid gainsboro;
              font-family: 'Montserrat', sans-serif;
              font-size: 15px;
            }
            .modal_img_add_btn {
              padding: 5px 10px;
              border: none;
              background: #8f00ff;
              color: #fff;
              border-radius: 5px;
              font-family: "Montserrat", sans-serif;
              font-size: 15px;
              cursor: pointer;
            }
          }
        }
      }
      .modal_accept_create {
        display: flex;
        flex-direction: column;
        align-items: center;
        .create_button {
          padding: 10px 20px;
          border: none;
          background: #8f00ff;
          border-radius: 5px;
          color: #fff;
          font-family: $comf;
          cursor: pointer;
        }
      }
    }
  }
  .modal_edit.Opened {
    display: flex;
    animation: appear 0.5s ease-in-out;
  }
  .modal_edit {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    .modal_edit_box {
      overflow: auto;
      display: flex;
      flex-direction: column;
      width: 60%;
      min-height: 250px;
      height: 90%;
      background: #fff;
      border-radius: 10px;
      padding: 15px;
      gap: 20px;
      .modal_edit_images {
        display: flex;
        flex-wrap: wrap;
        .modal_edit_image_inner {
          position: relative;
          width: 30%;
          padding: 5px;
          .modal_edit_actions {
            position: absolute;
            top: 4px;
            right: 4px;
            display: flex;
            gap: 5px;
            .change_image_btn {
              border: none;
              background: #fff;
              color: orange;
              padding: 5px 10px;
              border-radius: 5px;
              cursor: pointer;
            }
            .delete_image_btn {
              border: none;
              background: #fff;
              color: red;
              padding: 5px 10px;
              border-radius: 5px;
              cursor: pointer;
            }
          }
          .modal_image {
            width: 100%;
            object-fit: cover;
            height: 100%;
            max-height: 350px;
            min-height: 100px;
            border-radius: 10px;
          }
          .small_modal_images.Active {
            display: flex;
            animation: appear 0.2s ease-in-out;
          }
          .small_modal_images {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
            padding: 10px;
            .small_modal_images_box {
              display: flex;
              flex-direction: column;
              background: #fff;
              width: 100%;
              height: 100%;
              padding: 10px;
              border-radius: 10px;
              .box_link {
                display: flex;
                flex-grow: 1;
                input {
                  padding: 5px 10px;
                  width: 100%;
                  height: 50px;
                  outline: none;
                  border-radius: 5px;
                  font-family: 'Montserrat', sans-serif;
                  border: 1px solid gainsboro;
                }
              }
              .box_actions {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                .save_btn {
                  padding: 5px 10px;
                  border: none;
                  border-radius: 5px;
                  background: green;
                  font-size: 12px;
                  font-weight: 500;
                  font-family: 'Montserrat', sans-serif;
                  color: #fff;
                  cursor: pointer;
                }
                .cancel_btn {
                  padding: 5px 10px;
                  border: 1px solid red;
                  border-radius: 5px;
                  font-size: 12px;
                  font-weight: 500;
                  font-family: 'Montserrat', sans-serif;
                  background: #fff;
                  color: red;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      .modal_edit_add_image {
        display: flex;
        padding: 10px;
        .modal_edit_add_box {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .add_image_btn {
            padding: 8px 10px;
            background: #8f00ff;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
          .add_image_box_inner.Active {
            display: flex;
            animation: appear 0.5s ease-in-out;
          }
          .add_image_box_inner {
            display: none;
            align-items: center;
            gap: 1px;
            input {
              outline: none;
              padding: 6px;
              border: 1px solid gainsboro;
              font-family: 'Montserrat', sans-serif;
            }
            button {
              padding: 7px;
              background: #8f00ff;
              color: #fff;
              font-family: 'Montserrat', sans-serif;
              border: none;
            }
          }
        }
      }
      .modal_edit_sections {
        display: flex;
        flex-wrap: wrap;
        .col {
          width: 50%;
          padding: 5px;
          .box {
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: 10px;
            .section_name {
              font-family: 'Montserrat', sans-serif;
              font-size: 15px;
              color: #000;
            }
            .section_input {
              width: 100%;
              outline: none;
              border: 1px solid gainsboro;
              border-radius: 5px;
              padding: 10px;
              font-family: 'Montserrat', sans-serif;
            }
          }
        }
      }
      .modal_edit_descr {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        gap: 10px;
        .descr_title {
          font-family: 'Montserrat', sans-serif;
          font-size: 15px;
          color: #000;
        }
        .textarea_descr {
          outline: none;
          width: 100%;
          border: 1px solid gainsboro;
          border-radius: 5px;
          resize: none;
          min-height: 300px;
          padding: 10px;
          font-family: 'Montserrat', sans-serif;
        }
      }
      .modal_edit_actions {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        gap: 10px;
        .save_btn {
          padding: 15px 30px;
          border: none;
          border-radius: 5px;
          background: #8f00ff;
          color: #fff;
          font-family: 'Montserrat', sans-serif;
          cursor: pointer;
        }
        .cancel_btn {
          padding: 15px 30px;
          border: 1px solid gainsboro;
          border-radius: 5px;
          background: #fff;
          color: #8f00ff;
          font-family: 'Montserrat', sans-serif;
          cursor: pointer;
        }
      }
    }
  }
}
